@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* -----------------------------
   Base / Reset
------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark background for the entire site */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #ccc;
  overflow-y: auto;
  height: auto;
}

/* If you need global link styling */
a {
  color: #82cfff;
  /* A bluish accent color, adjust as you like */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}