.footer-container {
    background-color: #f9f9f9;
    /* Dark background */
    color: #000;
    /* White text */
    padding: 0.5rem;
    text-align: center;
    position: relative;
    /* Keeps it from overlapping other elements */
    bottom: 0;
    width: 100%;
    margin: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .footer-container {
        padding: 0rem;
    }

    .footer-container {
        font-size: smaller;
    }
}